// Colors
$blue: royalblue;

// Global options
$enable-flex: true;

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Vendor variables
$fa-font-path: "~font-awesome/fonts";

// animate css
$use-fadeIn: true;
$use-fadeOut: true;

/* sage/assets/styles/common/_variables.scss */

// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";
